/*  -------------------------------------------------------
    2022 Challenge by Frontend Mentor.  CSS by Edagr Cuppari
    -------------------------------------------------------------
/*---------------------------------------------------------------
  Global styles
----------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Righteous", cursive;
}

/* 
-------------------------------------------------------------------------------
  HTML elements 
-------------------------------------------------------------------------------
*/
.playboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    hsl(214, 47%, 23%) 0%,
    hsl(237, 49%, 15%) 100%
  );
}

.scoreboard {
  width: 75vw;
  height: 15vh;
  border-radius: 15px;
  border: 1px solid rgba(45, 155, 245, 0.445);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.title {
  padding-left: 30px;
  margin-top: 10px;
}

/*---------------------------------------------------------------
  Score table
----------------------------------------------------------------*/
.score {
  width: 150px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.938);
  border: 1px solid white;
  border-radius: 8px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score h1 {
  color: rgb(253, 152, 152);
  font-size: 34px;
  font-family: "Righteous", cursive;
}
.score p {
  color: hsl(229, 64%, 46%);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 5px;
  text-align: center;
}

/*---------------------------------------------------------------
  Rules button / Modal 
----------------------------------------------------------------*/
.rules {
  width: 150px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  margin-bottom: 350px;
}
.ws-btn {
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 18px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
}
.w3-dark-grey,
.w3-hover-dark-grey:hover,
.w3-dark-gray,
.w3-hover-dark-gray:hover {
  color: #fff !important;
  background-color: #61616100 !important;
}
.w3-red,
.w3-hover-red:hover {
  color: #fff !important;
  background-color: #f44336 !important;
  cursor: pointer;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 25px;
  color: #f44336;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
user agent stylesheet h2 {
  display: float;
  font-size: 1.5em;
}
.w3-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    hsl(215, 46%, 12%) 0%,
    hsla(240, 49%, 7%, 0.897) 100%
  );
}
p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 15px;
  color: beige;
}

/*---------------------------------------------------------------
  Hands Table
----------------------------------------------------------------*/
.hands {
  background-image: url("../assets/triangle.png");
  background-position: center;
  background-repeat: no-repeat;
  visibility: visible;
  opacity: 1;
  position: relative;
  width: 476px;
  height: 430px;
  margin-top: 100px;
  display: flex;
  z-index: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.hands img {
  width: 150px;
  height: 150px;
  display: block;
}
.hands .papier {
  margin-right: 1px;
}
.hands .schere {
  margin-right: 20px;
}
.hands .schere {
  margin-top: 220px;
}
.hands .hand {
  cursor: pointer;
  transition: all 0.25s;
}
.hands .hand:hover {
  transform: translate3d(0px, -8px, 0px);
}

/*---------------------------------------------------------------
  Play Button / Contest / NewGame
----------------------------------------------------------------*/
.contest {
  display: none;
  margin-top: 50px;
  width: 800px;
}
.contest img {
  width: 175px;
  height: 175px;
}
.contest > div {
  flex: 1;
}
.contest h1 {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
.contest .newGame {
  color: hsl(0, 100%, 51%);
  background-color: white;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.15s;
  font-family: "Righteous", cursive;
}
.newGame:hover {
  color: hsl(111, 100%, 51%);
  background: rgba(218, 218, 218, 0.623);
  transform: translate3d(0px, -2px, 0px);
  font-family: "Righteous", cursive;
}
.contest .handImageContainer {
  display: flex;
  justify-content: center;
}

/*---------------------------------------------------------------
 Result Tabe / Ho has won?
----------------------------------------------------------------*/
.resultat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resultat h1 {
  font-size: 45px;
  color: white;
}
.computerhand {
  display: flex;
  flex-direction: column;
}

/*---------------------------------------------------------------
 Footer styles
----------------------------------------------------------------*/
.attribution div {
  text-align: center;
  width: 100vw;
  height: 4.3vh;
  padding-top: 10px;
  color: #131537 100%;
  background-color: #131537;
  font-size: 22px;
  color: white;
}
.abstand {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 60vh;
}
.attribution a {
  color: rgb(230, 175, 24);
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1080px) {
  .playboard {
    flex-direction: column;
  }
}

@media (max-width: 1080px) {
  .contest {
    flex-direction: column;
  }
}
